Switch(condition="{item.type}")
    Case(value="link")
        Link(item="{item}" let:text)
            TextWrapper(text="{text}")
                slot
    Case(value="hashtag")
        a(
            class="relative underline underline-offset-4 pb-1 bg-accent1-default/15 text-accent1-default text-paragraph-l transition-colors hover:bg-accent1-default/25"
            href="/c?filter={encodeURIComponent(item.text.toLowerCase().slice(1))}"
        )
            TextWrapper(text="{item.text}")
    Case(value="code")
        code(class="rounded-lg bg-l2 py-0 px-2 text-code font-mono")
            TextWrapper(text="{item.text}") 
    Case(value="price-ticker")
        s handle price ticker
    //- Case(value="mention")
    //-     s handle mention
    //- possible removal of image
    Case(value="image") 
        Image(item="{item}")
    Case(value="text")
        TextWrapper(text!="{escape(item.text)}")
    Case(value="inline")
        TextWrapper(text="{item.text}")