{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-svelte", "@prettier/plugin-pug"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.pug",
      "options": {
        "parser": "pug"
      }
    }
  ],
  "pugWrapAttributesThreshold": 5,
  "pugSingleQuote": false,
  "pugAttributeSeparator": "none",
  "pugFramework": "svelte",
  "pugIdNotation": "as-is",
  "pugPreserveAttributeBrackets": true
}
