a(href="/c/{message.communitySlug}/{message.messageSlug}" class!="transition-colors text-t1 hover:text-accent1-default block {className}")
	h3(class="relative w-full text-h3-l xs:text-h3-s mb-4 font-satoshi whitespace-nowrap") {message.title}
	TextParagraph(class="mb-4 !text-t2") {message.subtitle}
	+if('message.hashtags && message.hashtags.length > 0')
		ul(class="relative z-1 flex items-start gap-2 flex-wrap w-full list-none")
			+each('message.hashtags as tag, index')
				li(class="relative underline underline-offset-4 text-accent1-default text-inter bg-accent1-default/15 h-8 text-paragraph-l")
					span(class="absolute w-1 h-1 top-11/25 -left-1.5 rounded-full bg-t3 {index !== 0? 'block' : 'hidden'}" ).
					| {'#'}{tag}





