include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper.flex-col.gap-8(class="xs:gap-4")
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("For Startups")
    h1.text-title-l.font-satoshi.text-center(class="smDown:text-left xs:text-h1-s" id="{message.id}") { message.title }
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
