include ../common-mixins

+main-section
    +header-wrapper()()
        h1(class="text-title-l font-satoshi text-center smDown:text-left xs:text-h1-s" id="{message.id}") {message.title}
    +content-wrapper
        BodyRenderer(blocks="{message.blocks}")