mixin content-wrapper
  .content-wrapper.flex.items-start.flex-col.gap-8.w-full(class="xs:gap-4 max-w-[604px] xs:px-4")&attributes(attributes)
    block

mixin header-wrapper
  .header-wrapper.flex.items-center.justify-center.mb-8.w-full(
    class="smDown:justify-start smDown:items-start max-w-[1028px] tb:max-w-[794px] smDown:max-w-[604px] xs:px-4"
  )&attributes(attributes)
    block

mixin nav-crumbs
  nav.crumbs: ul.flex.items-center.gap-3
    block

mixin main-section
  section.main.flex.flex-col.items-center.pt-16(class="xs:pt-8")
    block

mixin primary-button(label)
  button.relative.z-1.bg-accent1-default.text-t4.text-cta.shadow-button.flex.items-center.justify-center.py-1.px-4.rounded-xl.transition-all(
    class="focus:bg-accent1-default hover:bg-accent1-active dark:hover:shadow-button-hover disabled:cursor-not-allowed disabled:bg-l3 disabled:text-t3 disabled:shadow-none"
  )&attributes(attributes)
    span= label

mixin button-icon-default
  button.relative.inline-flex.w-10.h-10.z-1.bg-l1.text-t3.border.border-solid.border-l5.shadow-secondary-button.items-center.justify-center.rounded-2lg(
    class="p-1.75 hover:text-t1 hover:!border-accent1-active focus:text-t1 focus:!border-accent1-active dark:bg-l3 dark:border-l3 dark:hover:shadow-secondary-button-hover"
  )&attributes(attributes)
    block
