include ./common-mixins

+main-section
  +header-wrapper
    h1.text-title-l.font-satoshi.text-center(class="smDown:text-left xs:text-h1-s" id="{message.id}")
      | At #[TextHighlight Holdex], we're helping innovators build the next Web3 products
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
    p.text-t1 { @html signature }
